Package: thirdreality-hacore
Version: 2025.9.0
Section: utils
Priority: optional
Architecture: arm64
Maintainer: Your Name <guoping.liu@3reality.com>
Description: A custom home-assistant-core-matter-server package
 A longer description of the package.

