Package: thirdreality-python3
Version: 3.13.3
Section: utils
Priority: optional
Architecture: arm64
Maintainer: guoping.liu <guoping.liu@3reality.com>
Description: A custom python3.13 package by thirdreality-python3.13 for ThirdReality LinuxBox Dev Edition.
 A longer description of the package.for ThirdReality LinuxBox Dev Edition.
