Package: thirdreality-zigbee-mqtt
Version: 2.6.2-rc
Section: utils
Priority: optional
Architecture: arm64
Maintainer: guoping.liu <guoping.liu@3reality.com>
Description: A custom zigbee2mqtt package for ThirdReality LinuxBox Dev Edition.
