[Unit]
Description=Music Assistant Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/srv/music-assistant
Environment="PATH=/srv/music-assistant/bin:/usr/local/bin:/usr/bin:/bin"
Environment="VIRTUAL_ENV=/srv/music-assistant"
Environment="LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libjemalloc.so.2"
ExecStart=/srv/music-assistant/bin/mass --data-dir /var/lib/homeassistant/music_assistant --cache-dir /var/lib/homeassistant/music_assistant/.cache
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target