Package: thirdreality-board-firmware
Version: 1.04.02
Section: utils
Priority: optional
Architecture: arm64
Maintainer: guoping.liu <guoping.liu@3reality.com>
Description: A tool for update bl702/bl706 zigbee/thread firmware
