Package: thirdreality-music-assistant
Version: 2.6.3
Section: utils
Priority: optional
Architecture: arm64
Depends: thirdreality-python3
Maintainer: guoping.liu <guoping.liu@3reality.com>
Description: A custom music-assistant-server package for ThirdReality LinuxBox Dev Edition.
 A longer description of the package.
